header {
    background-color: #242526;
    height: 80px;
    width: 100%;
    padding: 20px 0px 0px 30px;
}
h1 {
    margin: 30px 0px 10px 0px;
    text-align: center;
}
.container {
    padding-top: 25px;
    font-weight: 500;
}
.form-control {
    border: #0b3b8 1px solid;
}
footer {
    background-color: #e4e6eb;
    height: 80px;
    width: 100%;
    margin-top: 40px;
}